language: node_js

os:
  - linux

dist: xenial

node_js:
  - "8"
  - "10"
  - "12"
  - "14"
  - "16"

before_script:
  - npm run build

jobs:
  include:
    - stage: Produce Coverage
      node_js: node
      script: jest --coverage --coverageReporters=text-lcov | coveralls
